body{
    background:url(/images/pexels-vera-bomstad-18221975.jpg);
    background-position: center;
    background-size: cover;
}
.badge{
    width: 260px;
    background: white;
    margin: 100px auto;
    text-align: center;
    font-family: Helvetica, sans-serif;
    color:rgb(40, 39, 39);
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px,rgba(0,0, 0, 0.3) 0 1px 3px -1px;
}
.badge img{
    width: 100px;
    border-radius: 50px;
}
.badge a{
    display: inline-block;
    color: rgb(150, 12, 12);
    margin: 10px;
}